web/WEB-INF/wsdl/sapiensmid/g5-senior-services/sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.senior.com.br" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.senior.com.br" name="g5-senior-services">
<types>
<xsd:schema>
<xsd:import namespace="http://services.senior.com.br" schemaLocation="http://sapiensmid:80/g5-senior-services/sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra?xsd=1"/>
</xsd:schema>
</types>
<message name="reprovar">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:ordemcomprareprovarIn"/>
</message>
<message name="reprovarResponse">
<part name="result" type="tns:ordemcomprareprovarOut"/>
</message>
<message name="aprovar">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:ordemcompraaprovarIn"/>
</message>
<message name="aprovarResponse">
<part name="result" type="tns:ordemcompraaprovarOut"/>
</message>
<message name="buscarPendentes">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:ordemcomprabuscarPendentesIn"/>
</message>
<message name="buscarPendentesResponse">
<part name="result" type="tns:ordemcomprabuscarPendentesOut"/>
</message>
<message name="buscarPendentes_2">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:ordemcomprabuscarPendentes2In"/>
</message>
<message name="buscarPendentes_2Response">
<part name="result" type="tns:ordemcomprabuscarPendentes2Out"/>
</message>
<message name="buscarPendentes_3">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:ordemcomprabuscarPendentes3In"/>
</message>
<message name="buscarPendentes_3Response">
<part name="result" type="tns:ordemcomprabuscarPendentes3Out"/>
</message>
<message name="buscarPendentes_4">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:ordemcomprabuscarPendentes4In"/>
</message>
<message name="buscarPendentes_4Response">
<part name="result" type="tns:ordemcomprabuscarPendentes4Out"/>
</message>
<portType name="sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra">
<operation name="reprovar" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra/reprovarRequest" message="tns:reprovar"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra/reprovarResponse" message="tns:reprovarResponse"/>
</operation>
<operation name="aprovar" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra/aprovarRequest" message="tns:aprovar"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra/aprovarResponse" message="tns:aprovarResponse"/>
</operation>
<operation name="buscarPendentes" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra/buscarPendentesRequest" message="tns:buscarPendentes"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra/buscarPendentesResponse" message="tns:buscarPendentesResponse"/>
</operation>
<operation name="buscarPendentes_2" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra/buscarPendentes_2Request" message="tns:buscarPendentes_2"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra/buscarPendentes_2Response" message="tns:buscarPendentes_2Response"/>
</operation>
<operation name="buscarPendentes_3" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra/buscarPendentes_3Request" message="tns:buscarPendentes_3"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra/buscarPendentes_3Response" message="tns:buscarPendentes_3Response"/>
</operation>
<operation name="buscarPendentes_4" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra/buscarPendentes_4Request" message="tns:buscarPendentes_4"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra/buscarPendentes_4Response" message="tns:buscarPendentes_4Response"/>
</operation>
</portType>
<binding name="sapiens_Synccom_senior_g5_co_mcm_est_ordemcompraPortBinding" type="tns:sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="reprovar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="aprovar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="buscarPendentes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="buscarPendentes_2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="buscarPendentes_3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="buscarPendentes_4">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
</binding>
<service name="g5-senior-services">
<port name="sapiens_Synccom_senior_g5_co_mcm_est_ordemcompraPort" binding="tns:sapiens_Synccom_senior_g5_co_mcm_est_ordemcompraPortBinding">
<soap:address location="http://sapiensmid:80/g5-senior-services/sapiens_Synccom_senior_g5_co_mcm_est_ordemcompra"/>
</port>
</service>
</definitions>