src/conf/xml-resources/web-service-references/sapiens_Synccom_senior_g5_co_mcm_est_estoques/wsdl/sapiensmid/g5-senior-services/sapiens_Synccom_senior_g5_co_mcm_est_estoques.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.senior.com.br" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.senior.com.br" name="g5-senior-services">
<types>
<xsd:schema>
<xsd:import namespace="http://services.senior.com.br" schemaLocation="http://sapiensmid:80/g5-senior-services/sapiens_Synccom_senior_g5_co_mcm_est_estoques?xsd=1"/>
</xsd:schema>
</types>
<message name="ConsultarEstoque">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:estoquesConsultarEstoqueIn"/>
</message>
<message name="ConsultarEstoqueResponse">
<part name="result" type="tns:estoquesConsultarEstoqueOut"/>
</message>
<message name="MovimentarEstoque">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:estoquesMovimentarEstoqueIn"/>
</message>
<message name="MovimentarEstoqueResponse">
<part name="result" type="tns:estoquesMovimentarEstoqueOut"/>
</message>
<message name="Fechar">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:estoquesFecharIn"/>
</message>
<message name="FecharResponse">
<part name="result" type="tns:estoquesFecharOut"/>
</message>
<portType name="sapiens_Synccom_senior_g5_co_mcm_est_estoques">
<operation name="ConsultarEstoque" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_estoques/ConsultarEstoqueRequest" message="tns:ConsultarEstoque"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_estoques/ConsultarEstoqueResponse" message="tns:ConsultarEstoqueResponse"/>
</operation>
<operation name="MovimentarEstoque" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_estoques/MovimentarEstoqueRequest" message="tns:MovimentarEstoque"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_estoques/MovimentarEstoqueResponse" message="tns:MovimentarEstoqueResponse"/>
</operation>
<operation name="Fechar" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_estoques/FecharRequest" message="tns:Fechar"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Synccom_senior_g5_co_mcm_est_estoques/FecharResponse" message="tns:FecharResponse"/>
</operation>
</portType>
<binding name="sapiens_Synccom_senior_g5_co_mcm_est_estoquesPortBinding" type="tns:sapiens_Synccom_senior_g5_co_mcm_est_estoques">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="ConsultarEstoque">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="MovimentarEstoque">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="Fechar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
</binding>
<service name="g5-senior-services">
<port name="sapiens_Synccom_senior_g5_co_mcm_est_estoquesPort" binding="tns:sapiens_Synccom_senior_g5_co_mcm_est_estoquesPortBinding">
<soap:address location="http://sapiensmid:80/g5-senior-services/sapiens_Synccom_senior_g5_co_mcm_est_estoques"/>
</port>
</service>
</definitions>