src/conf/xml-resources/web-services/wsusuariorubi/wsdl/leblon/g5-senior-services/rubi_SyncMCWFUsers.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.senior.com.br" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.senior.com.br" name="g5-senior-services">
<types>
<xsd:schema>
<xsd:import namespace="http://services.senior.com.br" schemaLocation="http://leblon:80/g5-senior-services/rubi_SyncMCWFUsers?xsd=1"/>
</xsd:schema>
</types>
<message name="PersonExists">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:mcwfUsersPersonExistsIn"/>
</message>
<message name="PersonExistsResponse">
<part name="result" type="tns:mcwfUsersPersonExistsOut"/>
</message>
<message name="GetUserGroups">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:mcwfUsersGetUserGroupsIn"/>
</message>
<message name="GetUserGroupsResponse">
<part name="result" type="tns:mcwfUsersGetUserGroupsOut"/>
</message>
<message name="GetPersonKind">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:mcwfUsersGetPersonKindIn"/>
</message>
<message name="GetPersonKindResponse">
<part name="result" type="tns:mcwfUsersGetPersonKindOut"/>
</message>
<message name="AuthenticateJAAS">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:mcwfUsersAuthenticateJAASIn"/>
</message>
<message name="AuthenticateJAASResponse">
<part name="result" type="tns:mcwfUsersAuthenticateJAASOut"/>
</message>
<message name="DiscoverUsersGroups">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:mcwfUsersDiscoverUsersGroupsIn"/>
</message>
<message name="DiscoverUsersGroupsResponse">
<part name="result" type="tns:mcwfUsersDiscoverUsersGroupsOut"/>
</message>
<message name="UserReplication">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:mcwfUsersUserReplicationIn"/>
</message>
<message name="UserReplicationResponse">
<part name="result" type="tns:mcwfUsersUserReplicationOut"/>
</message>
<message name="ChangePassword">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:mcwfUsersChangePasswordIn"/>
</message>
<message name="ChangePasswordResponse">
<part name="result" type="tns:mcwfUsersChangePasswordOut"/>
</message>
<portType name="rubi_SyncMCWFUsers">
<operation name="PersonExists" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_SyncMCWFUsers/PersonExistsRequest" message="tns:PersonExists"/>
<output wsam:Action="http://services.senior.com.br/rubi_SyncMCWFUsers/PersonExistsResponse" message="tns:PersonExistsResponse"/>
</operation>
<operation name="GetUserGroups" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_SyncMCWFUsers/GetUserGroupsRequest" message="tns:GetUserGroups"/>
<output wsam:Action="http://services.senior.com.br/rubi_SyncMCWFUsers/GetUserGroupsResponse" message="tns:GetUserGroupsResponse"/>
</operation>
<operation name="GetPersonKind" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_SyncMCWFUsers/GetPersonKindRequest" message="tns:GetPersonKind"/>
<output wsam:Action="http://services.senior.com.br/rubi_SyncMCWFUsers/GetPersonKindResponse" message="tns:GetPersonKindResponse"/>
</operation>
<operation name="AuthenticateJAAS" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_SyncMCWFUsers/AuthenticateJAASRequest" message="tns:AuthenticateJAAS"/>
<output wsam:Action="http://services.senior.com.br/rubi_SyncMCWFUsers/AuthenticateJAASResponse" message="tns:AuthenticateJAASResponse"/>
</operation>
<operation name="DiscoverUsersGroups" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_SyncMCWFUsers/DiscoverUsersGroupsRequest" message="tns:DiscoverUsersGroups"/>
<output wsam:Action="http://services.senior.com.br/rubi_SyncMCWFUsers/DiscoverUsersGroupsResponse" message="tns:DiscoverUsersGroupsResponse"/>
</operation>
<operation name="UserReplication" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_SyncMCWFUsers/UserReplicationRequest" message="tns:UserReplication"/>
<output wsam:Action="http://services.senior.com.br/rubi_SyncMCWFUsers/UserReplicationResponse" message="tns:UserReplicationResponse"/>
</operation>
<operation name="ChangePassword" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_SyncMCWFUsers/ChangePasswordRequest" message="tns:ChangePassword"/>
<output wsam:Action="http://services.senior.com.br/rubi_SyncMCWFUsers/ChangePasswordResponse" message="tns:ChangePasswordResponse"/>
</operation>
</portType>
<binding name="rubi_SyncMCWFUsersPortBinding" type="tns:rubi_SyncMCWFUsers">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="PersonExists">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="GetUserGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="GetPersonKind">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="AuthenticateJAAS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="DiscoverUsersGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="UserReplication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="ChangePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
</binding>
<service name="g5-senior-services">
<port name="rubi_SyncMCWFUsersPort" binding="tns:rubi_SyncMCWFUsersPortBinding">
<soap:address location="http://leblon:80/g5-senior-services/rubi_SyncMCWFUsers"/>
</port>
</service>
</definitions>